<div class="all-channels" [ngStyle]="gradient"></div>


<div class="channel">
  <div class="channel-layer channel-background"></div>
  <div class="channel-layer" [ngStyle]="gradientR"></div>
  <div class="channel-layer">
    <app-curve-editor [(points)]="red"></app-curve-editor>
  </div>
</div>

<div class="channel">
    <div class="channel-layer channel-background"></div>
    <div class="channel-layer" [ngStyle]="gradientG"></div>
    <div class="channel-layer">
    <app-curve-editor [(points)]="green"></app-curve-editor>
  </div>
</div>

<div class="channel">
    <div class="channel-layer channel-background"></div>
    <div class="channel-layer" [ngStyle]="gradientB"></div>
    <div class="channel-layer">
    <app-curve-editor [(points)]="blue"></app-curve-editor>
  </div>
</div>