<div class="channel">
  <svg width="100%" height="100%" class="channel-curve">

    <defs>
      <linearGradient *ngIf="redCurve" id="redGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop *ngFor="let v of redCurve.getCurve(100); let i = index" [attr.offset]="i + '%'"
          [style.stop-color]="'rgb(' + v + ', 0, 0)'" [style.stop-opacity]="1" />
      </linearGradient>
    </defs>

    <svg:rect width="100%" height="100%" fill="url(#redGradient)" />
  </svg>

  <div class="channel-curve">
    <app-curve-editor #red (controlPoints)="raisePaletteChanged()"></app-curve-editor>
  </div>
</div>

<div class="channel">
  <svg width="100%" height="100%"  class="channel-curve">

    <defs>
      <linearGradient *ngIf="greenCurve" id="greenGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop *ngFor="let v of greenCurve.getCurve(100); let i = index" [attr.offset]="i + '%'"
          [style.stop-color]="'rgb(0, ' + v + ', 0)'" [style.stop-opacity]="1" />
      </linearGradient>
    </defs>

    <svg:rect width="100%" height="100%" fill="url(#greenGradient)" />
  </svg>

  <div class="channel-curve">
    <app-curve-editor #green (controlPoints)="raisePaletteChanged()"></app-curve-editor>
  </div>
</div>

<div class="channel">
    <svg width="100%" height="100%"  class="channel-curve">
  
      <defs>
        <linearGradient *ngIf="blueCurve" id="blueGradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop *ngFor="let v of blueCurve.getCurve(100); let i = index" [attr.offset]="i + '%'"
            [style.stop-color]="'rgb(0, 0, ' + v + ')'" [style.stop-opacity]="1" />
        </linearGradient>
      </defs>
  
      <svg:rect width="100%" height="100%" fill="url(#blueGradient)" />
    </svg>
  
    <div class="channel-curve">
      <app-curve-editor #blue (controlPoints)="raisePaletteChanged()"></app-curve-editor>
    </div>
  </div>
  
  

<div class="mixed">
  <svg width="100%" height="100%"  class="channels-mixed">

    <defs>
      <linearGradient *ngIf="redCurve && greenCurve && blueCurve" id="mixedGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop *ngFor="let v of mixed(100); let i = index" [attr.offset]="i + '%'"
          [style.stop-color]="'rgb(' + v[0] + ', ' + v[1] + ', ' + v[2] + ')'" [style.stop-opacity]="1" />
      </linearGradient>
    </defs>

    <svg:rect width="100%" height="100%" fill="url(#mixedGradient)" />
  </svg>
</div>