@import ../variables.sass

.settings
    position: absolute
    top: 0
    left: 0
    width: 300px
    height: 100%

.settings-icon
    position: absolute
    top: 10px
    left: 10px
    user-select: none

.settings-icon:hover
    cursor: pointer
    text-shadow: 0 0 10px rgba(0, 0, 0, 1)

.toolbar-background
    position: absolute
    width: 400px
    pointer-events: none
    height: 1000px
    z-index: -100

.toolbar-container
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    justify-content: flex-start

.tool
    width: 100%
    height: 50px
    color: blue
    font-size: 12pt

.tool-label
    user-select: none
    pointer-events: none
    display: flex
    align-items: center

