@import ../variables.sass

.title
    position: relative
    top: 2%
    left: 1%
    font-size: 5vw
    text-shadow: 4px 4px 10px rgba(100, 100, 100, 100)

.credits
    position: relative
    top: 10%
    left: 1%
    font-size: 1.5vw
    text-shadow: 4px 4px 10px rgba(100, 100, 100, 100)

.settings
    position: absolute
    top: 0
    left: 0
    width: 300px
    height: 100%
    background-color: rgba(255, 255, 255, 0.7)
    box-shadow: 5px 0px 20px rgb(0, 0, 0, 0.3)
    color: rgb(50, 50, 50)
    

