<app-renderer #renderer class="overlay-and-fill" style="z-index: -100"
  [red]="settings.red" 
  [green]="settings.green" 
  [blue]="settings.blue" 
  [tail]="settings.tail"
  [count]="settings.count" 
  [speed]="settings.speed" 
  [size]="settings.size" 
  [force]="settings.force">
</app-renderer>

<div #menu [@fadeInOut]="settingsVisible || settingsComponent?.isInteracting" class="overlay-and-fill" [style.color]="colorTheme==='light' ? 'white' : 'black'">
  
  <div class="menu-vignette" [style.background]="background"></div>  

  <div class="actions-bar">
      <i class="material-icons action" (click)="renderer.reset()">refresh</i>
      <i class="material-icons action">share</i>
      <div class="action" (click)="openGithub()">
        <img *ngIf="colorTheme==='light'" src="assets/GitHub-Mark-Light-32px.png" class="github-icon">
        <img *ngIf="colorTheme==='dark'" src="assets/GitHub-Mark-32px.png" class="github-icon">
      </div>
      <div class="action" *ngIf="supportsFullscreen()">
          <i *ngIf="!isFullscreen" class="material-icons" (click)="enterFullscreen()">fullscreen</i>
          <i *ngIf="isFullscreen" class="material-icons" (click)="exitFullscreen()">fullscreen_exit</i>        
      </div>
  </div>
      
  <app-settings #settingsComponent
    [(tail)]="settings.tail"
    [(count)]="settings.count"
    [(speed)]="settings.speed"
    [(size)]="settings.size"
    [(force)]="settings.force"
    [(red)]="settings.red"
    [(green)]="settings.green"
    [(blue)]="settings.blue"></app-settings>
</div>