<app-renderer 
[red]="settings.red"
[green]="settings.green"
[blue]="settings.blue"
[tail]="settings.tail"
[count]="settings.count"
[speed]="settings.speed"
[size]="settings.size"
[force]="settings.force"
>
</app-renderer>
<div *ngIf="settingsVisible" class="settings">
  <app-settings [settings]="settings"></app-settings>
</div>
<div (click)="toggleSettings()" class="settings-icon" [style.color]="settingsIconColor">
  <i *ngIf="!settingsVisible" class="material-icons-outlined">edit</i>
  <i *ngIf="settingsVisible" class="material-icons">edit</i>
</div>