<div class="settings-container">

  <div class="setting">
    <div class="setting-label setting-padding">Tail</div>
    <app-ghost-slider class="overlay-and-fill setting-padding" [(value)]="tail" [min]="100" [max]="50000">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Count</div>
    <app-ghost-slider class="overlay-and-fill setting-padding" [(value)]="count" [min]="1" [max]="10">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Speed</div>
    <app-ghost-slider class="overlay-and-fill setting-padding" [(value)]="speed" [min]="0.1" [max]="10" [step]="0.1">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Size</div>
    <app-ghost-slider class="overlay-and-fill setting-padding" [(value)]="size" [min]="10" [max]="50">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Force</div>
    <app-ghost-slider class="overlay-and-fill setting-padding" [(value)]="force" [min]="1" [max]="10">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Red</div>
    <div class="overlay-and-fill setting-padding" [@focusCurve]="redCurve.state">
      <div style="position: relative; width:100%; height: 100%">
        <div class="channel-background overlay-and-fill" [ngStyle]="gradientR"></div>
        <app-curve-editor class="overlay-and-fill" #redCurve [(points)]="red"></app-curve-editor>
      </div>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Green</div>
    <div class="overlay-and-fill setting-padding" [@focusCurve]="greenCurve.state">
      <div style="position: relative; width:100%; height: 100%">
        <div class="channel-background overlay-and-fill" [ngStyle]="gradientG"></div>
        <app-curve-editor class="overlay-and-fill" #greenCurve [(points)]="green"></app-curve-editor>
      </div>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label setting-padding">Blue</div>
    <div class="overlay-and-fill setting-padding" [@focusCurve]="blueCurve.state">
      <div style="position: relative; width:100%; height: 100%">
        <div class="channel-background overlay-and-fill" [ngStyle]="gradientB"></div>
        <app-curve-editor class="overlay-and-fill" #blueCurve [(points)]="blue"></app-curve-editor>
      </div>
    </div>
  </div>
</div>