
.toolbar-container
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    justify-content: flex-start

.tool
    width: 100%
    height: 40px
    font-size: 12pt

.tool-label
    user-select: none
    pointer-events: none
    display: flex
    align-items: center

.color-channel-container
    width: 100%
    height: 100%
    // padding: 2px 0 2px 0
    // box-sizing: border-box
    opacity: 0
    position: relative
    
.channel-layer
    width: 100%
    height: 100%
    // position: absolute

.channel-background
    // position: absolute
    // width: 100%
    // top: 0
    // bottom: 0
    pointer-events: none
    user-select: none

.color-channel
    // height: 100%
    // position: absolute

// .channel-background
//     background-image: url(../../assets/checkers.png)
//     background-size: 20px 20px

.channels-mixed
    padding: 10px 0px 10px 0px
    box-sizing: border-box

.all-channels
    width: 264px
    height: 40px