<div class="settings-container">

  <div class="title">Shadebobs</div>
  <div class="credits"><a href="https://github.com/torbjorv">Cyberfish/TLS (torbjorv@github)</a></div>

  <div class="item-container">
    <div class="item-label">Tail</div>
    <mat-slider class="item-value-slider" min="100" max="50000" step="100" [(value)]="settings.tail">
    </mat-slider>
  </div>

  <div class="item-container">
    <div class="item-label">Count</div>
    <mat-slider class="item-value-slider" min="1" max="10" step="1" [(value)]="settings.count"></mat-slider>
  </div>

  <div class="item-container">
    <div class="item-label">Speed</div>
    <mat-slider class="item-value-slider" min="0.1" max="10" step="0.1" [(value)]="settings.speed">
    </mat-slider>
  </div>

  <div class="item-container">
    <div class="item-label">Size</div>
    <mat-slider class="item-value-slider" min="10" max="50" step="1" [(value)]="settings.size">
    </mat-slider>
  </div>

  <div class="item-container">
    <div class="item-label">Force</div>
    <mat-slider class="item-value-slider" min="1" max="10" step="0.1" [(value)]="settings.force">
    </mat-slider>
  </div>
<!-- 
  <div class="color-label">Red</div>
  <div class="item-container">
    <div class="item-label">Begin</div>
    <mat-slider class="item-value-slider" min="0" max="255" step="1" [(value)]="settings.redBegin">
    </mat-slider>
  </div>
  <div class="item-container">
    <div class="item-label">End</div>
    <mat-slider class="item-value-slider" min="0" max="255" step="1" [(value)]="settings.redEnd">
    </mat-slider>
  </div>
  <div class="item-container">
    <div class="item-label">Cycle</div>
    <mat-slider class="item-value-slider" min="10" max="1000" step="1" [(value)]="settings.redCycle">
    </mat-slider>
  </div>

  <div class="color-label">Green</div>
  <div class="item-container">
    <div class="item-label">Begin</div>
    <mat-slider class="item-value-slider" min="0" max="255" step="1" [(value)]="settings.greenBegin">
    </mat-slider>
  </div>
  <div class="item-container">
    <div class="item-label">End</div>
    <mat-slider class="item-value-slider" min="0" max="255" step="1" [(value)]="settings.greenEnd">
    </mat-slider>
  </div>
  <div class="item-container">
    <div class="item-label">Cycle</div>
    <mat-slider class="item-value-slider" min="10" max="1000" step="1" [(value)]="settings.greenCycle">
    </mat-slider>
  </div>

  <div class="color-label">Blue</div>
  <div class="item-container">
    <div class="item-label">Begin</div>
    <mat-slider class="item-value-slider" min="0" max="255" step="1" [(value)]="settings.blueBegin">
    </mat-slider>
  </div>
  <div class="item-container">
    <div class="item-label">End</div>
    <mat-slider class="item-value-slider" min="0" max="255" step="1" [(value)]="settings.blueEnd">
    </mat-slider>
  </div>
  <div class="item-container">
    <div class="item-label">Cycle</div>
    <mat-slider class="item-value-slider" min="10" max="1000" step="1" [(value)]="settings.blueCycle">
    </mat-slider>
  </div> -->

  <div>
      <app-palette-editor (palette)="settings.palette = $event" ></app-palette-editor>
  </div>
</div>