<div class="settings-container">

  <div class="setting">
    <app-ghost-slider #tailSlider class="overlay-and-fill setting-padding" [min]="100" [max]="50000" [(value)]="tail"
      [label]="'Tail'">
    </app-ghost-slider>
  </div>


  <div class="setting">
    <app-ghost-slider #countSlider class="overlay-and-fill setting-padding" [min]="1" [max]="10" [(value)]="count"
      [label]="'Count'">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <app-ghost-slider #speedSlider class="overlay-and-fill setting-padding" [min]="0.1" [max]="10" [(value)]="speed"
      [step]="0.1" [label]="'Speed'">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <app-ghost-slider #sizeSlider class="overlay-and-fill setting-padding" [min]="10" [max]="50" [(value)]="size"
      [label]="'Size'">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <app-ghost-slider #forceSlider class="overlay-and-fill setting-padding" [min]="1" [max]="10" [(value)]="force"
      [step]="0.1" [label]="'Force'">
    </app-ghost-slider>
  </div>

  <div class="setting">
    <div class="overlay-and-fill setting-padding">
      <div style="position: relative; width:100%; height: 100%">
        <app-ghost-curve class="overlay-and-fill" #redCurve [(points)]="red" [channel]="'R'"></app-ghost-curve>
      </div>
    </div>
  </div>

  <div class="setting">
    <div class="overlay-and-fill setting-padding">
      <div style="position: relative; width:100%; height: 100%">
        <app-ghost-curve class="overlay-and-fill" #greenCurve [(points)]="green" [channel]="'G'"></app-ghost-curve>
      </div>
    </div>
  </div>

  <div class="setting">
    <div class="overlay-and-fill setting-padding">
      <div style="position: relative; width:100%; height: 100%">
        <app-ghost-curve class="overlay-and-fill" #blueCurve [(points)]="blue" [channel]="'B'"></app-ghost-curve>
      </div>
    </div>
  </div>
</div>