// .slider
//     background-color: white

.title
    position: relative
    top: 2%
    left: 1%
    font-size: 2vw
    text-shadow: 4px 4px 10px rgba(100, 100, 100, 100)

.credits
    position: relative
    top: 10%
    left: 1%
    font-size: 1vw
    text-shadow: 4px 4px 10px rgba(100, 100, 100, 100)

