@import ../../variables.sass

.title
    font-size: 30pt
    text-align: center
    // text-shadow: 4px 4px 5px rgba(100, 100, 100, 100)

.credits
    font-size: 10pt
    text-align: center
    // text-shadow: 4px 4px 10px rgba(100, 100, 100, 100)

.item-container
    display: flex
    width: 100%

.item-label
    width:50px
    display: flex
    align-items: center
    font-size: 10pt
    // font-weight: $font-bold
    margin: 0 0 0 10px
 
.item-value-slider
    width: 100%
    margin: 0px 10px 0px 5px

